@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.HospiAppli {
	max-width: auto;
	/* min-height: auto; */
	display: flex;
	flex-direction: column;
	/* background-color: rgb(32, 90, 141); */
}

.WelcomeSection {
	min-height: 60vh; /* fallback for older browsers */
	min-height: 60dvh;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(
			rgba(234, 234, 234, 0.2),
			rgba(0, 0, 0, 0.8)
		),
		url("../../../../assets/ustmain.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	justify-content: center;
	height: 100%;
	color: white;
	font-family: "Julius Sans One", sans-serif;
	padding: 20px;
}

.WelcomeSection h1 {
	margin-top: auto; /* Push the h1 element to the bottom */
}

.service-cards {
	padding: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	flex: 1 1 200px;
	max-width: 250px;
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.05);
	cursor: pointer;
	background-color: hsl(45, 100%, 51%);
}
.card-icon {
	font-size: 50px;
	height: 65px;
	margin-bottom: 10px;
	object-fit: contain;
}

@media (max-width: 768px) {
	.HospiAppli {
		max-width: 100%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	.WelcomeSection {
		min-height: 40vh; /* fallback for older browsers */
		min-height: 40dvh;
		background-size: cover;
		background-position: center;
	}
}
